
<h1>Admin</h1>

<h3>View users:</h3>
<div>
  <ul>
    {{#each users}}
    <li>
      <a href="/admin/editUser/{{UserId}}">
        {{FirstName}}{{LastName}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>