<h1>Edit Watched Movie:</h1>

<form id="editWatchedMovie" name="editWatchedMovie" method="POST" action="/watched-movie/">
    <div>
        <label for="name">Watched movie: </label>
        <input type="checkbox" name="watched movie" id="watched" value=true>

    </div>

    <div>
        <button type="submit">Update</button>
    </div>

</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function onDelete() {
        $.ajax({
            url: '/watched-movies/{{UserId}}/delete',
            method: 'DELETE', complete: () => window.location = "/watched-movies"
        })
    }
</script>
<button (click)="goBack()">Go Back</button>
<button class="delete" title="delete watched movie" (click)="onDelete(watched-movie)">Delete</button>