<h1>Edit Wish List:</h1>

<form id="editWishList" name="editWishList" method="POST" action="/wish-list/">
    <div>
        <label for="name">Wish list: </label>
        <input type="checkbox" name="wish list" id="wishlist" value=true>

    </div>

    <div>
        <button type="submit">Update</button>
    </div>

</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function onDelete() {
        $.ajax({
            url: '/wish-list/{{UserId}}/delete',
            method: 'DELETE', complete: () => window.location = "/wish-list"
        })
    }
</script>
<button (click)="goBack()">Go Back</button>
<button class="delete" title="delete wish-list movie" (click)="onDelete(wish-list-movie)">Delete</button>