<h1>{{title}}</h1>


<h2>Owned Movies:</h2>

<tbody>
    <ul>
        {{#each movies}}
        <li>
            <a href="/owned-movies/{{userId}}">
                {{imdbId}}
            </a>
        </li>
        {{/each}}
    </ul>
</tbody>