<h1>{{title}}</h1>

{{firstName}}
<h2>Watched Movies:</h2>

<tbody>
    <ul>
        {{#each movies}}
        <li>
            <a href="/watched-movies/{{userId}}">
                {{imdbId}}
            </a>
        </li>
        {{/each}}
    </ul>
</tbody>